.metadata
livros-api/.settings
livros-api/.idea
livros-api/target
livros-api/.classpath
livros-api/.factorypath
livros-api/.project
livros-api/HELP.md
livros-api/.mvn
livros-api/*.iml
livros-api/.gitignore
livros-ui/.angular
livros-ui/.vscode
livros-ui/node_modules
livros-ui/.browserslistrc
livros-ui
livros-ui-bootstrap/.angular
livros-ui-bootstrap/.vscode
livros-ui-bootstrap/node_modules
livros-ui-bootstrap/.browserslistrc
livros-ui-bootstrap/package-lock.json
